table th {
    background-color: white !important;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #F8D7DA;
}

table {
    width: 80% !important;
    margin-top: 50px;
    margin-left: 30px;
}

th, td {
    padding: 5px;
    text-align: center;
}

p {
    margin-top: 50px;
    margin-left: 30px;
}

#prviP {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
}

div {
    padding-left: 30px;
}